In [1]:
import pandas as pd

In [2]:
#Load in csv
df = pd.read_csv('truliaOuput.csv')

#Get rid of unwanted columns
del df['Unnamed: 0']
df

,price,city,address,bedrooms,bathrooms,houseSize
0,"$349,000","Austin, TX",10310 Bilbrook Pl,3bd,3ba,"1,401 sqft"
1,"$579,000","Central East Austin, Austin, TX",1109 Lawson Ln,3bd,2ba,"1,259 sqft"
2,"$349,000","Austin, TX",14412 Ballycastle Trl,3bd,3ba,"2,035 sqft"
3,"$295,000","Austin, TX",9804 Briar Ridge Dr,3bd,2ba,"1,148 sqft"
4,"$799,000","Austin, TX",10012 Wildflower Ln,3bd,2ba,"2,545 sqft"
...,...,...,...,...,...,...
2364,"$1,185,000","Lakeway, TX",111 Sendera Bonita,4bd,5ba,"5,359 sqft"
2365,"$425,000","Austin, TX",5525 Traviston Ct,3bd,2ba,"1,952 sqft"
2366,"$639,000","Austin, TX",512 River Oaks Dr,3bd,3ba,"3,024 sqft"
2367,"$699,900","Austin, TX",106 Kaden Way,5bd,5ba,"3,751 sqft"
2368,"$529,000","Lakeway, TX",1819 Lakeway Blvd,5bd,3ba,"2,803 sqft"

In [3]:
#Rename columns to better match description
df.columns = ['Price','City','Address','Beds','Baths','SqFt']

#Convert city column to list to modify it
city_state = df['City'].to_list()

#Split up city column into city and state
state = []
city = []
for item in city_state:
    fixed_col = item.split(',')
    state.append(fixed_col[-1].strip())
    city.append(fixed_col[-2].strip())
    try:
        district = fixed_col[-3]
    except IndexError:
        district = 'N/A'

#Get rid of strings in number columns
beds_col = []
bed = df['Beds'].to_list()
for beds in bed:
    num_beds = beds.split('b')
    beds_col.append(num_beds[0])

baths_col = []
bath = df['Baths'].to_list()
for baths in bath:
    num_bath = baths.split('b')
    baths_col.append(num_bath[0])

sqft_col = []
sqft = df['SqFt'].to_list()
for squareft in sqft:
    num_sqft = squareft.split(' ')
    sqft_col.append(num_sqft[0])

In [7]:
#Add in new columns
df['City'] = city
df['State'] = state
df['Beds'] = beds_col
df['Baths'] = baths_col
df['SqFt'] = sqft_col
#Re-arrange columns
df = df[['Address','City','State','Price','SqFt','Beds','Baths',]]

#Get rid of any NA's
df.dropna(how='any')
df

                    Address     City State       Price   SqFt Beds Baths
0         10310 Bilbrook Pl   Austin    TX    $349,000  1,401    3     3
1            1109 Lawson Ln   Austin    TX    $579,000  1,259    3     2
2     14412 Ballycastle Trl   Austin    TX    $349,000  2,035    3     3
3       9804 Briar Ridge Dr   Austin    TX    $295,000  1,148    3     2
4       10012 Wildflower Ln   Austin    TX    $799,000  2,545    3     2
...                     ...      ...   ...         ...    ...  ...   ...
2364     111 Sendera Bonita  Lakeway    TX  $1,185,000  5,359    4     5
2365      5525 Traviston Ct   Austin    TX    $425,000  1,952    3     2
2366      512 River Oaks Dr   Austin    TX    $639,000  3,024    3     3
2367          106 Kaden Way   Austin    TX    $699,900  3,751    5     5
2368      1819 Lakeway Blvd  Lakeway    TX    $529,000  2,803    5     3

[2369 rows x 7 columns]

In [8]:
#Export cleaned csv 
df.to_csv('Cleaned_Trulia.csv')